<app-device-add (newDevice)="this.updateList($event)"></app-device-add>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Longitude</th>
      <th scope="col">Latitude</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devicesList; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{device.name}}</td>
      <td>{{device.longitude}}</td>
      <td>{{device.latitude}}</td>
      <td>  
        <button type="button" class="btn btn-danger" (click)="deleteDevice(device)">Delete</button>
        <button type="button" class="btn btn-warning" (click)="editDevice(device)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>