<button class="btn btn-lg btn-outline-primary" 
  data-toggle="modal" 
  data-target="#formModal" 
  data-whatever="@getbootstrap" >Add Device</button>
<!-- (click)="open(formModal)" -->

<!-- <ng-template #content let-modal> -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New Device</h4>
          <button type="button" class="close" aria-label="Close" data-dismiss="modal" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addDeviceForm" (ngSubmit)="addDevice()">
            <div class="form-group">
              <label  for="name">Name</label>
              <input  required 
                class="form-control" 
                id="name" 
                type="text" 
                placeholder="device name..." 
                formControlName="name" />
              <div [hidden]="!(this.addDeviceForm.get('name').hasError('required') && this.addDeviceForm.dirty)">Required</div>
            </div>
            <div class="form-group">
              <label  for="longitude">Longitude</label>
              <!-- <label  for="longitude">{{'longitude' | sentenceCase:true}}</label> -->
              <input 
                class="form-control" 
                id="longitude" 
                type="text" 
                placeholder="longitude..."
                formControlName="longitude" 
            />
            </div>
            <div class="form-group">
              <label  for="latitude">Latitude</label>
              <input 
                class="form-control" 
                id="latitude" 
                type="text" 
                placeholder="latitude..."
                formControlName="latitude" 
            />
            </div>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button 
              [disabled]="this.addDeviceForm.invalid" type="submit" class="btn btn-primary"  
               >Save</button>
               <!-- (click)="modal.close('Save click')"  -->
             
            
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
        </div>
      </div>
    </div>
</div>
<!-- </ng-template> -->




