    <button *ngIf="!isAddDevice" (click)="loadDeviceModal()"
        class="btn btn-lg btn-outline-primary" >Add Device </button>
    <button *ngIf="!!isAddDevice"  (click)="loadDeviceModal()"
        class="btn btn-warning" >Edit</button>
<div class="card"  [class.highlight]="this.isHighlighted">
    <div class="card-body">
        <app-modal>
            <div class="title">{{ title }}</div>
            <div class="body">
              
              <form [formGroup]="addDeviceForm" >  <!-- (ngSubmit)="addDevice()" -->
                <div class="form-group">
                  <label  for="name">Name</label>
                  <input  required 
                    class="form-control" 
                    id="name" 
                    type="text" 
                    placeholder="device name..." 
                    formControlName="name" />
                  <div [hidden]="!(this.addDeviceForm.get('name').hasError('required') && this.addDeviceForm.dirty)">Required</div>
                </div>
                <div class="form-group">
                  <label  for="longitude">{{'longitude' | sentenceCase:true}}</label>
                  <input 
                    class="form-control" 
                    id="longitude" 
                    type="text" 
                    placeholder="longitude..."
                    formControlName="longitude" 
                />
                </div>
                <div class="form-group">
                  <label  for="latitude">{{'latitude' | sentenceCase:true}}</label>
                  <input 
                    class="form-control" 
                    id="latitude" 
                    type="text" 
                    placeholder="latitude..."
                    formControlName="latitude" 
                />
                </div>                 
              </form>
               <div class="map-container">
                 <app-street-map [mapid]="devid"></app-street-map>
               </div>
    
            </div>
            <div class="footer">              
                <button *ngIf="!isAddDevice"
                  [disabled]="this.addDeviceForm.invalid" type="submit" class="btn btn-primary"  
                  (click)="addDevice()"
                    >Save</button>
                <button *ngIf="!!isAddDevice"
                    [disabled]="this.addDeviceForm.invalid" type="submit" class="btn btn-primary"  
                    (click)="editDevice()"
                    >Update</button>
            </div>
        </app-modal>
      </div>
    </div>